.day-number{
  text-align:center;
  vertical-align:top;
  font-size:14px;
  position:relative;
  width:100%;
}

.current-month-label{
  margin-top:5px;
  font-weight:bold;
  text-transform:capitalize;
}
div.day-number-label{
  z-index:10;
  font-weight:bold;
}
#calendar-back-button{
    color: white;
    background: transparent;
    border: none;
    outline: none;
    font-size: 25px;
}

.stick-calendar{
  top:90px;
  z-index:31;
  background-color:black;
}

.calendar-container{
  margin-top:90px;
}

#importance-filter-button{
  cursor:pointer;
}

.category-filter-status{
  cursor:pointer;
}
.class-selection-option{
  cursor:pointer;
}
.importance-filter-widget-circle{
  float: left;
  width: 25px;
  height: 25px;
  position: relative;
  left: 494px;
  border-radius: 12.5px;
  top: 22px;
}

.importance-menu-item{
  float: left;
  width: 100%;
  z-index: 100;
  position: relative;
  cursor: pointer;
}

div.day-importance-indicator{
  display: inline;
  height: 25px;
  width: 25px;
  position: relative;
  border-radius: 12.5px;
/*  left: -20.5px;*/
  top: 11px;
  float: left;
}

.calendar-filters-bar{
  float:none;
  margin:auto;
  margin-bottom:45px;
}

#calendar-status-bar{
  float:none;
  margin:auto;
}

#close-category-filter{
  float:right;
}
#close-importance-filter{
  float:right;
}
.calendar-day-head{
  text-align:center;
  color:#666;
}

.unselectable-event{
  display:none;
}

.category-container{
  margin-top: 60px;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.importance-container{
  margin-top: 60px;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*filter dropdown styles*/
.default-dropdown{
    position: fixed;
    z-index: 31;
    width: 100%;
    height: 0%;
    top: 0px;
  left:0px;
}
.dropdown-category-filter{
  display:none;
  background-color:black;
}

.dropdown-importance-filter{
  display:none;
  background-color:black;
  transition: 2s;
  transition-property: height;
  transition-timing-function:ease;
    -webkit-transition-property: height;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease;
}

.dropdown-event-details{
  display:none;
  background-color:black;
}

#event-widget{
  margin-bottom:45px;
}

.active-filter-dropdown{
  display:block;
height:100%;
  transition: 15s;
  transition-property: height;
  transition-timing-function:ease;
    -webkit-transition-property: height;
    -webkit-transition-duration: 15s;
    -webkit-transition-timing-function: ease;
}
/*end filter dropdown styles*/
#calendar-prev{
  display: inline;
  float: left;
  margin-left: auto;
  margin-right: auto;
  color:white;
}
#calendar-next{
    display: inline;
    float: right;
    margin-left: auto;
    margin-right: auto;
  color:white;
}
.clean-button{
  background-color:transparent;
  border:none;
  outline:none;
}
.month-inc-dec-buttons{
  display:inline;
}
#calendar-status-bar{
  margin-top:30px;
}

#calendar-status-bar-label{
display: inline;
    top: -3px;
    position: relative;
}

.calendar-day-np{
  width:25.5px;
  padding:0px;
  vertical-align:top;
  position:relative;
}
.calendar-day{
  width:25.5px;
  padding:0px;
  vertical-align:top;
  position:relative;
  font-weight:bold;
}
.calendar{
  width:360px;
}
.event-marker{
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  margin-left: 1px;
  display: inline-block;
  margin-right: 1px;
}
.unselected-event-marker{
  display:none;
}

.unselected-day{
  display:none;
}


table.month{
  width:360px;
}
.month{
  float:left;
}
.selected-month{
  display:block;
}
.inactive-month{
  display:none;
}

.calendar-navigation-bar-button{
  width:25%;
  padding: 10px 0px;
  font-size:16px;
  cursor:pointer;
}
.calendar-navigation-bar-label{
  margin-left: auto;
  display: inline;
  margin-right: auto;
  text-align: center;
  float: left;
  width: 50%;
  padding: 10px 0px;
}
.calendar-navigation-bar{
  width:100%;
  position:fixed;
  bottom:0px;
  display:table;
  background-color:#000;
  margin-top:150px;
  z-index:30;
}

.overview-month{
  float:left;
}


.event-day{
  margin:0px;
}

.inactive-event{
  display:none;
}


.event-marker-container{
  height: 8px;
  display:flex;
  justify-content:center;
}

.category-filter-status-container{
  display:inline-block
}

.status-marker{
  display:inline-block;
  float:right
}

.required{
  background-color: #fe2851;
}
.recommended{
    background-color: #5fb842;
}
.interesting{
    background-color: #0076ff;
}

html{
  overflow:auto;
}

body{
  height:100%;
}



.inactive-navigation-bar{
  display:none;
}
.active-navigation-bar{
  display:block;
}

#close-event-details-dropdown{
  float:right;
}



@media only screen and (min-width:320px) and (max-width:767px){
div.day-importance-indicator{
    display: inline;
    height: 25px;
    width: 25px;
    position: relative;
    border-radius: 12.5px;
    left: -0.5px;
    top: 11px;
    float: left;
}
.calendar-filters-bar{width:360px;}
#calendar-status-bar{width:360px;}
.year-month{
  float: left;
  margin-bottom:10px;
}
.overview-calendar{
  width:170px;
  float:left;
}
  .calendar-day-head{
    text-align:center;
    color:#666;
    padding-bottom:15px;
  }
.selected-day{
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: gray;
  left: 12.5px;
  border-radius: 12.5px;
  top: -4px;
}
  #event-widget{
    width:360px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-wrap: wrap;

  }
  .event-details-container{
    margin:auto;
    margin-top:30px;
    width:320px;
  }

  #dropdown-event-day{
    width:25px;
    height:25px;
    border-radius: 12.5px;
    text-align:center;
    float: left;
    line-height: 1.65;
    display: inline-block;
  }

  #dropdown-event-month{
    margin: 0;
    float: left;
    margin-left: 10px;

  }

  #dropdown-event-year{
    display: inline-block;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* width: 91%; */
    float: left;
    top:16px;
    left:-68px;
    position:relative;
  }

  #dropdown-event-category{
    margin-top: 30px;
    margin-bottom: 30px;
    width:100%;
    float:left;
    color: #9e9e9e;
  }

  #dropdown-event-title{
    float:left;
    font-size:32px;
    width:100%; 
  }

  #dropdown-event-content{
    float: left;
    width: 100%;
    font-size: 16px;
  }

  .event-title-focused{
    font-size:32px;
  }

  .event-title{
    font-size:20px;
    margin-top:0px;
  }
  .event-category{
    font-size:14px;
    text-decoration:underline;
    color:#666;
  margin-top:0px;
  }

  .event-month{
    display: inline-block;
    font-size: 16px;
    position: relative;

  }
  .event-status-label{
    width:100%;
    font-size:16px;
    color:#666;
  }
  div#calendar-overview-widget div.day-number:nth-child(n){
    font-size:12px;
  }

  .event-description{display:none;}
  .active-event{
    display: block;
    width: 150px;
    height:150px;
    float: left;
    background-color: #222;
    margin-bottom: 15px;
    border-radius: 8px;
    padding-left: 9px;
    position:relative;
    margin: 5px 5px;

  }

  #calendar-overview-widget{
    margin-right:auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width:360px;
  }
  .calendar-month{
    width:360px;
  }
  #calendar-widget{
    width:360px;
    height:325px;
    margin-right:auto;
    margin-left:auto;
  }
  div#event-widget div.day-number-label{
width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 12.5px;
    line-height: 25px;
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    z-index: 30;
    left: -25px;
    position: relative;
  }
}

@media only screen and (min-width:768px) and (max-width:991px){
div.day-importance-indicator{
  display: inline;
  height: 25px;
  width: 25px;
  position: relative;
  border-radius: 12.5px;
  left: -0.5px;
  top: 11px;
  float: left;
}
.calendar-filters-bar{width:768px;}
#calendar-status-bar{width:768px;}
.year-month{
  float: left;
  margin-bottom:10px;
}
  div#calendar-overview-widget div.day-number:nth-child(n){
    font-size:12px;
  }
.overview-calendar{
  width:226px;
  float:left;
}

.selected-day{
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: gray;
  left: 42.5px;
  border-radius: 12.5px;
  top: -4px;
}

  .event-details-container{
    margin:auto;
    margin-top:30px;
  width:768px;
  }
  #dropdown-event-day{
    width:25px;
    height:25px;
    border-radius: 12.5px;
    text-align:center;
    float: left;
    line-height: 1.65;
    display: inline-block;
  }

  #dropdown-event-month{
    margin: 0;
    float: left;
    margin-left: 10px;
  }

  #dropdown-event-year{
    display: inline-block;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
    top:16px;
    left:-68px;
    position:relative;
  }

  #dropdown-event-category{
    margin-top: 30px;
    margin-bottom: 30px;
    width:100%;
color: #9e9e9e;
    float:left;
  }

  #dropdown-event-title{
    float:left;
    width:100%; 
    font-size:32px;
  }

  #dropdown-event-content{
    float: left;
    width: 100%;
    font-size: 16px;
  }

  #event-widget{
    width:768px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-wrap: wrap;
  }

  .event-title{
    font-size:20px;
    margin-top:0px;
  }
  .event-category{
    font-size:14px;
    text-decoration:underline;
    color:#666;
  margin-top:0px;
  }

  .event-month{
    display: inline-block;
    font-size: 16px;
    position: relative;
    /*left: -40px;*/
  }

  .active-event{
    display:block;
    width:384px;
    float:left;
    position:relative;
  }
  .calendar-day-head{
    text-align:center;
    color:#666;
    padding-bottom:25px;
  }
  #calendar-widget{
    width:100%;
    height:325px;
  }

  .calendar{
    width:768px;
  }

  .calendar-month{
    width:768px;
  }
  #calendar-overview-widget{
    margin-right:auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width:768px;
  }
  .calendar-month{
    width:768px;
  }
  #calendar-widget{
    width:768px;
    height:325px;
    margin-right:auto;
    margin-left:auto;
  }
  div#event-widget div.day-number-label{
width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 12.5px;
    line-height: 25px;
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    z-index: 30;
    left: -25px;
    position: relative;
  }

  .event-status-label{
    font-size:16px;
    width:100%;
    color:#666;
  }

  .event-description{
    display: block;
    padding-right: 20px;
    height: 53px;
    overflow: hidden;
  }
  .active-event{
    display: block;
    position:relative;
    width: 354px;
    height:200px;
    float: left;
    background-color: #222;
    margin-bottom: 15px;
    border-radius: 8px;
    padding-left: 9px;
    margin: 5px 5px;
  }

}

@media only screen and (min-width:992px){
  .event-description{
    display: block;
    padding-right: 20px;
    height: 53px;
    overflow: hidden;
  }
div.day-importance-indicator{
  /*margin-left: 0px;*/
  display: inline;
  height: 25px;
  width: 25px;
  position: relative;
  border-radius: 12.5px;
  left: -0.5px;
  top: 11px;
  float: left;
}
  .calendar-filters-bar{width:992px;}
  #calendar-status-bar{width:992px;}

  #calendar-widget{
    width:992px;
    height:325px;
    margin-right:auto;
    margin-left:auto;
  }
  .year-month{
    float: left;
    margin-bottom:30px;
  }
  .calendar-month{
    width:992px;
  }

  .active-event{
    display:block;
    width:384px;
    position:relative;
    float:left;
    margin: 5px 5px;
  }

  .calendar{
    width:992px;
  }
  #calendar-overview-widget{
    margin-right:auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width:992px;
  }

  .selected-day{
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: gray;
    left: 57.5px;
    border-radius: 12.5px;
    top: -4px;
  }

  .event-details-container{
    margin:auto;
    margin-top:30px;
    width:992px;
  }
  #dropdown-event-day{
    width:25px;
    height:25px;
    border-radius: 12.5px;
    text-align:center;
    float: left;
    line-height: 1.65;
    display: inline-block;
  }

  #dropdown-event-month{
    margin: 0;
    float: left;
    margin-left: 10px;
  }

  #dropdown-event-year{
    display: inline-block;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
    top:16px;
    left:-68px;
    position:relative;
  }

  #dropdown-event-category{
    margin-top: 30px;
    margin-bottom: 30px;
    width:100%;
color: #9e9e9e;
    float:left;
  }

  #dropdown-event-title{
    float:left;
    width:100%; 
    font-size:32px;
  }

  #dropdown-event-content{
    float: left;
    width: 100%;
    font-size: 16px;
  }

  #event-widget{
    width:992px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-wrap: wrap;
  }

  .event-title{
    font-size:20px;
    margin-top:0px;
  }
  .event-category{
    font-size:14px;
    text-decoration:underline;
    color:#666;
  margin-top:0px;
  }

  .event-month{
    display: inline-block;
    font-size: 16px;
    position: relative;
    /*left: -40px;*/
  }
  div#event-widget div.day-number-label{
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 12.5px;
    line-height: 25px;
    display: inline-block;
    margin: 0;
/*    margin-right: 10px;*/
    z-index: 30;
    left: -25px;
    position: relative;
  }
  .active-event{
    display: block;
    width: 300px;
    height: 200px;
    float: left;
    background-color: #222;
    margin-bottom: 20px;
    border-radius: 8px;
    padding-left: 15px;
    position:relative;
    margin: 5px 5px;
  }

  .calendar-day-head{
    text-align:center;
    color:#666;
    padding-bottom:25px;
  }

  div#calendar-overview-widget div.day-number:nth-child(n){
    font-size:14px;
  }
  .overview-calendar{
    width:300px;
    float:left;
  }
}
  .event-status-label{
    font-size:16px;
    width:100%;
    color:#666;
  }
.unselectable-event{
  display:none;
}
.inactive-event-importance{
  display:none;
}

.required-color{
  background-color:#fe2851;
}

.recommended-color{
  background-color: #5fb842
}

.interesting-color{
  background-color: #0076ff;
}
.display-none{
  display:none;
}

.active-filter-bar{
    top: 0px;
    position: fixed;
    z-index: 40;
    width: 100%;
    height: 100%;
    background-color: black;
}
